
@use 'sass:map';

.btn {
  & polygon {
    fill: map.get($color, primary, dark);
    stroke: map.get($color, primary, base);
    stroke-width: 2px;
    transition: fill 0.2s ease;
  }

  &__text {
    fill: map.get($color, text, white);
    font-size: 20px;
  }

  &:hover polygon {
    fill: map.get($color, primary, base);
  }
}
