@use 'sass:map';

.user-nav {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  gap: 55px;

  & > *,
  &__cart-img {
    display: block;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__cart {
    display: flex;
    align-items: center;

    &-img {
      display: block;
      height: 28px;
      width: 28px;
      margin-left: 10px;
    }

    &-badge {
      display: block;
      position: absolute;
      right: -10px;
      top: -8px;
      height: 21px;
      min-width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: map.get($color, text, white);
      background-color: map.get($color, primary, base);
    }

    &-label {
      color: map.get($color, text, white);
      flex-shrink: 0;
    }
  }

  &__wishlist,
  &__login {
    height: 28px;
    width: 28px;
  }

  @media (max-width: 767px) {
    .user-nav {
      &__wishlist,
      &__login {
        display: none;
      }
    }
  }
}
