html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'Jost', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button:focus,
input:focus {
  outline: transparent;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

dl {
  margin: 0;
}

dd {
  margin-left: 0;
}

fieldset {
  border: none;
  padding-left: 0;
}

button {
  @include no-btn;
}

///DEBUG
/* BODY > * > * {
    outline: 2px solid deeppink;
}
BODY > * > * > * {
    outline: 2px dashed lime;
    outline-offset: -2px;
}
BODY > * > * > * > * {
    outline: 2px dotted dodgerblue;
    outline-offset: -4px;
}
BODY > * > * > * > * > * {
    outline: 2px dotted rgb(30, 255, 68);
    outline-offset: -4px;
}
BODY > * > * > * > * > * > * {
    outline: 2px solid deeppink;
}
BODY > * > * > * > * > * > * > * {
    outline: 2px solid rgb(3, 238, 255);
    outline-offset: -2px;
} */

/* BODY {
  opacity: .5;
}
HTML {
    background: url('../assets/img/') 50% 0 no-repeat;
}
@media (min-width: 768px) {
	HTML {
		background-image: url('../assets/img/');
	}
}
@media (min-width: 1440px) {
    HTML {
      background-image: url('../assets/img/');
    }
} */
///
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  opacity: 0;
  visibility: hidden;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
