@use 'sass:map';

.link-hover {
  position: relative;
  transition: 0.3s ease;

  &:hover,
  &:focus {
    color: map.get($color, primary, base);
  }

  /* modifiers */
  &--torch {
    position: relative;

    &:hover span {
      opacity: 1;
    }

    & span {
      position: absolute;
      top: 120%;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      transition: 0.3s ease;
      background-color: map.get($color, primary, base);
      width: 2px;
      height: 15px;
      opacity: 0;

      &:before {
        content: '';
        position: absolute;
        display: block;
        background-color: map.get($color, primary, base);
        top: -3px;
        left: 50%;
        transform: translateX(-50%) rotate(-45deg);
        width: 8px;
        height: 8px;
      }
    }
  }
}
