{% set title = 'Контакты' %}
{% extends 'layouts/_default.njk' %}
{% block main %}
<main>
    <h1>Контакты</h1>
    <p>Звоните нам на 0800 000 0000 или отправьте письмо на эл. адрес <a href="mailto:nobody@nowhere.com?subject=Nothing">nobody@nowhere.com</a>.</p>
</main>
{% endblock %}
