{% set title = 'Главная' %}
{% extends 'layouts/_default.njk' %}
{% block main %}
<main class="main">
  <section class="hero">
    <!-- Slider main container -->
    <div class="swiper swiper-no-swiping">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide" style="background-image: url(./img/bg1.jpg);"></div>
        <div class="swiper-slide"></div>
        <div class="swiper-slide" style="background-image: url(./img/bg1.jpg);"></div>
        <div class="swiper-slide"></div>
        <div class="swiper-slide" style="background-image: url(./img/bg1.jpg);"></div>

      </div>

      <div class="swiper-navigation-wrapper container">
        <!-- If we need navigation buttons -->

        <div class="swiper-navigation-wrapper-inner">
          <div class="swiper-button-prev">
            <div class="swiper-button-marker"></div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <div class="swiper-button-next">
            <div class="swiper-button-marker"></div>
          </div>
        </div>

      </div>

    </div>
  </section>
</main>
{% endblock %}
