<div class="desktopmenu tabs">
  <header class="tabs-header">
    <button class="tabs__link link-hover button-active">По категории<span></span></button>
    <button class="tabs__link link-hover button-active">По брендам<span></span></button>
  </header>
  <ul class="tabs-content" id="categories">
    <li class="tabs-content__link link-hover">
      <a href="">Новинки</a>
    </li>
    <li class="tabs-content__link">
      <a class="link-hover" href="#">Наборы для татуировок</a>
    </li>
    <li class="tabs-content__link">
      <a class="link-hover" href="#">Тату машинки</a>
    </li>
    <li class="tabs-content__link">
      <a class="link-hover" href="#">Тату краски</a>
    </li>
    <li class="tabs-content__link">
      <a class="link-hover" href="#">Тату иглы</a>
    </li>
    <li class="tabs-content__link">
      <a class="link-hover" href="#">Тату держатели</a>
    </li>
    <li class="tabs-content__link">
      <a class="link-hover" href="#">Тату наконечники</a>
    </li>
    <li class="tabs-content__link">
      <a class="link-hover" href="#">Блоки питания</a>
    </li>
    <li class="tabs-content__link">
      <a class="link-hover" href="#">Педали и провода</a>
    </li>
    <li class="tabs-content__link">
       <a class="link-hover" href="#">Аксессуары</a>
    </li>
    <li class="tabs-content__link">
      <a class="link-hover" href="#">Принтеры и планшеты</a>
    </li>
    <li class="tabs-content__link">
      <a class="link-hover" href="#">Защита, ёмкости, расходные материалы</a>
    </li>
  </ul>
</div>
