<div class="desktopmenu">
  <header class="desktopmenu-nav">
    <button class="desktopmenu__link" data-id="categories">По категории<span></span></button>
    <button class="desktopmenu__link" data-id="brands">По брендам<span></span></button>
  </header>
  <div class="desktopmenu__tabs">
    <ul class="desktopmenu__tab" id="categories">
      <li class="desktopmenu__tab-item">
        <a class="link-hover" href="">Новинки</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a class="link-hover" href="#">Наборы для татуировок</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a class="link-hover" href="#">Тату машинки</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a class="link-hover" href="#">Тату краски</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a class="link-hover" href="#">Тату иглы</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a class="link-hover" href="#">Тату держатели</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a class="link-hover" href="#">Тату наконечники</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a class="link-hover" href="#">Блоки питания</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a class="link-hover" href="#">Педали и провода</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a class="link-hover" href="#">Аксессуары</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a class="link-hover" href="#">Принтеры и планшеты</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a class="link-hover" href="#">Защита, ёмкости, расходные материалы</a>
      </li>
    </ul>
    <ul class="desktopmenu__tab" id="brands">
      <li class="desktopmenu__tab-item">
        <a class="link-hover" href="">Aliance</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a class="link-hover" href="#">Aloe Tattoo</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a class="link-hover" href="#">Anchored by Nikko Hurtado</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a class="link-hover" href="#">BC Invention Comrany
        </a>
      </li>
      <li class="desktopmenu__tab-item">
        <a class="link-hover" href="#">Beauty Bit</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a class="link-hover" href="#">Bishop Rotary</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a class="link-hover" href="#">Burlak Tattoo Machines</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a class="link-hover" href="#">Cheyenne HAWK</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a class="link-hover" href="#">Critical Tattoo</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a class="link-hover" href="#">Dermalize Protective</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a class="link-hover" href="#">Dynamic Colors</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a class="link-hover" href="#">EGO Bez’s Rotary</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">Eikon Device Inc.</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">Electrum</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">EQUALISER by Kwadron</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">Eternal</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">Excalibur</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">Fantasia Art Supply</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">FKirons</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">Hanafy</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">HM Tattoo Machines</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">Ink Machines</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">InkJecta Tattoo Machine</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">Intenze</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">JACK & ALEXX</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">Kashalot Rotary</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">Kuro Sumi</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">KWADRON™</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">Lauro Paolini</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">Lithuanian Irons</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">Lucky Supply</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">Mercator Medical</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">Millenium Mom’s Ink</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">NEMESIS</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">Nocturnal Tattoo Ink</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">Panthera</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">Perma Blend</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">Precision Needles</a>
      </li>
      <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">Precision Tattoo Supply</a>
      </li>
          <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">Premier Products</a>
      </li>
            <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">Radiant</a>
      </li>
            <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">Reprofx® Spirit™</a>
      </li>
            <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">Right Stuuf</a>
      </li>
            <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">S8TATTOO</a>
      </li>
            <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">Skinductor</a>
      </li>
            <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">Starbrite</a>
      </li>
            <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">Tattoorevive</a>
      </li>
            <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">TURANIUM Fabrika Rotary</a>
      </li>
            <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">UNI–CART</a>
      </li>
            <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">Vlad Blad</a>
      </li>
            <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">World Famous Bala</a>
      </li>
            <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">World Famous Tattoo Ink</a>
      </li>
            <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">2K2BT</a>
      </li>
            <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">БРОВИ</a>
      </li>
            <li class="desktopmenu__tab-item">
        <a href="#" class="link-hover">КРАСКА Tattoo Ink</a>
      </li>

    </ul>
  </div>
</div>
