<section class="catalog">
  <div class="container">
    <h2 class="catalog__title title-h2">Каталог</h2>
    <ul class="catalog__list">
      <li class="catalog__list-item bg-right">
        <a href="#" class="catalog__list-item-link">
          <span>Тату наборы</span>
        </a>
      </li>
      <li class="catalog__list-item bg-right">
        <a href="#" class="catalog__list-item-link">
          <span>Держатели</span>
        </a>
      </li>
      <li class="catalog__list-item">
        <a href="#" class="catalog__list-item-link">
          <span>Тату машинки</span>
        </a>
      </li>
      <li class="catalog__list-item bg-right">
        <a href="#" class="catalog__list-item-link">
          <span>Педали и провода</span>
        </a>
      </li>
      <li class="catalog__list-item bg-left bg-width-100">
        <a href="#" class="catalog__list-item-link">
          <span>Краски</span>
        </a>
      </li>
      <li class="catalog__list-item bg-right">
        <a href="#" class="catalog__list-item-link">
          <span>Блоки питания</span>
        </a>
      </li>
      <li class="catalog__list-item">
        <a href="#" class="catalog__list-item-link">
          <span>Наконечники</span>
        </a>
      </li>
      <li class="catalog__list-item">
        <a href="#" class="catalog__list-item-link">
          <span>Тату иглы</span>
        </a>
      </li>
      <li class="catalog__list-item bg-right">
        <a href="#" class="catalog__list-item-link">
          <span>Защита, ёмкости, расходники</span>
        </a>
      </li>
      <li class="catalog__list-item">
        <a href="#" class="catalog__list-item-link">
          <span>Аксессуары</span>
        </a>
      </li>
      <li class="catalog__list-item">
        <a href="#" class="catalog__list-item-link">
          <span>Принтеры и планшеты</span>
        </a>
      </li>
    </ul>
  </div>
</section>
