<section class="hero">
  <div class="container">
    <!-- Slider main container -->
    <div class="swiper swiper-no-swiping">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide" style="background-image:url(img/bg1.jpg);"></div>

        <div class="swiper-slide" style="background-image:url(img/bg1.jpg);"></div>

        <div class="swiper-slide" style="background-image:url(img/bg1.jpg);"></div>

        <div class="swiper-slide" style="background-image:url(img/bg1.jpg);"></div>

        <div class="swiper-slide" style="background-image:url(img/bg1.jpg);"></div>

      </div>

      <div class="swiper-navigation-wrapper container">
        <!-- If we need navigation buttons -->

        <div class="swiper-navigation-wrapper-inner">
          <div class="swiper-button-prev">
            <div class="swiper-button-marker"></div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <div class="swiper-button-next">
            <div class="swiper-button-marker"></div>
          </div>
        </div>

      </div>
    </div>


            <div class="hero__wrapper">
              <h1 class="hero__title">Лучшие товары в мире татуировок</h1>
              <p class="hero__text">Оборудование и расходники для самых ярких и качественных работ</p>
              <button class="hero__btn btn">Смотреть каталог</button>
            </div>

  </div>
</section>
