<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
  <div class="wrapper">
    {% include '../parts/_header-mobile.njk' %}
    {% include '../parts/_header-desktop.njk' %}

    {% block main %}
    {% endblock %}

    {% include '../parts/_footer.njk' %}
</div>
    <script src="js/libs.min.js"></script>
    <script src="js/webpack.bundle.js"></script>
</body>
</html>
